
<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">

            <div class="row" ng-show="issues.progressFlag" >
                <div class="col-lg-12">
                    <img class="" ng-src="/images/spinner.gif">
                    <h3>Please wait... while we fetch the records...</h3>
                </div>
            </div>

            <div ng-show="!issues.progressFlag" >
            <div class="panel panel-primary">
                <div class="panel panel-heading">
                    <h1 class="panel-title"><h3>Number of Open Issues:</h3></h1>
                </div>
                <div class="panel-body">
                    <div>
                        <div class="well well-lg">
                            <label>{{issues.issuesList.open_issues}}</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel panel-heading">
                    <h1 class="panel-title"><h3>Open Issues list Date</h3></h1>
                </div>
                <div class="panel-body">
                    <div>
                        <div class="well well-lg" ng-repeat="date in issues.issuesList.date" >
                            <label>{{$index+1}}.{{date}}</label>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>